head
  link(href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,700|Roboto+Mono&subset=latin,greek', rel='stylesheet', type='text/css')
body
  .fixed(style='background-color: #25628E;position: fixed;top: 0;left: 0;width: 100%;height: 80px;z-index: 9999;')
    h1(style="text-align: center;color: white;font-family: 'Roboto Slab', sans serif;font-weight: 400;padding-top:20px;") Monthly Expense Report
  .relative(style='top: 100px;position: relative;max-width: 1900px;height: 500px;')
    .absolute(style='position: absolute;top: 0;left: 0;width: 100%;height: 50%;margin: 0 , -150px,-150px, 0;')
      a(href='#')
        img(src=pie, alt='Mountain View', style='width:100%;height:100%;margin: 0px -100% 0 10%;')
      .absolutely(style='position: absolute;left: 0;bottom: 0;width: 100%;height: 50%;')
      a(href='#')
        img(src=bar, alt='bar graph', style='width:100%;height:100%;')
      .absolutelyya(style='position: absolute;right: 0;top: 0;bottom: 0;width: 100%;height: 100%;')
      a(href='#')
        img(src=line, alt='line graph', style='width:100%;height:100%;')
